<%= form_with(model: norma, local: true) do |form| %>
  <% if norma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(norma.errors.count, "error") %> prohibited this norma from being saved:</h2>

      <ul>
      <% norma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :norma_descripcion %>
  </div>

  <div class="field">
    <%= form.label :img_vid %>
    <%= form.text_field :img_vid, id: :norma_img_vid %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :norma_tipo %>
  </div>

  <div class="field">
    <%= form.label :categoria_normas_id %>
    <%= form.text_field :categoria_normas_id, id: :norma_categoria_normas_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
